# Überschrift
## Unterüberschrift
hier ist Text
- Punkt 1
- Punkt 2
- *Punkt 3*

In [1]:
print ( "Hello world")

Hello world

In [2]:
name = "Lovelace"

In [3]:
print (name)

Lovelace

In [4]:
name

'Lovelace'

In [5]:
age = 73

In [6]:
print(age
    )

73

In [7]:
size = 1.7123

In [8]:
print(size)

1.7123

In [9]:
#Boolscher Wert
knows_math = True
likes_slacking = False

In [10]:
type(size)

float

In [11]:
type(name)

str

In [12]:
type(name)

str

In [13]:
#Operatoren
age * 100

7300

In [14]:
name + name

'LovelaceLovelace'

In [15]:
name *10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [16]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [17]:
name + "10"

'Lovelace10'

In [18]:
name + age

TypeError: can only concatenate str (not "int") to str

In [19]:
name + str(age)

'Lovelace73'

In [22]:
new_number = "10"
new_number = int(new_number)

In [23]:
type(new_number)

int

In [24]:
#Funktionen und Methoden
len(name)

8

In [25]:
name.upper()

'LOVELACE'

In [26]:
name_capital = name.upper()

In [27]:
name.count("e")

2

In [28]:
name.replace?

In [29]:
name.count?

In [30]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [31]:
name replace ("is everywhere", " is everywhere")

SyntaxError: invalid syntax (<ipython-input-31-38408e08b52e>, line 1)

In [32]:
#Liste und Dictonaries

In [33]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [34]:
names[2]

'Curie'

In [35]:
names[0]

'Lovelace'

In [36]:
names[3]

'Hawking'

In [37]:
#Slicing

In [38]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [39]:
names[:3]

['Lovelace', 'Darwin', 'Curie']

In [40]:
names[3:]

['Hawking']

In [49]:
#DIctionary
authors_and_birth_years = {"Lovelace": [1882,"London", "1903"], 
                           "Darwin": 1809, 
                           "Noether": 1882}

In [42]:
authors_and_birth_years["Noether"]

1882

In [43]:
authors_and_birth_years["Darwin"]

1809

In [50]:
authors_and_birth_years["Lovelace"]

[1882, 'London', '1903']

In [51]:
authors_and_birth_years["Lovelace"][1]

'London'

In [46]:
authors_and_birth_years["Lovelace"]

1882

In [52]:
%who

age	 authors_and_birth_years	 knows_math	 likes_slacking	 name	 name_capital	 names	 new_number	 size

In [53]:
#for-Schleifen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [57]:
for name in names:
    print(name + " did awesome stuff")
print("-------------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
-------------------------------

In [58]:
#Conditionals
temp = 20

In [59]:
if temp > 15:
    print ("it's warm")

it's warm

In [60]:
temp > 15

True

In [67]:
temp = 15
if temp == 20:
    print("It's perfect")
elif temp >= 15:
    print("It's warm")
else: 
    print("It's cold")

It's warm